<h1><a href="/liger/index#index">Liger Airlines</a></h1>

  <div id="main">
    
  </div>

  
  
  <script id="appTemplate" type="text/template">
    <h1>Liger Airplanes</h1>
    <ul><li id="airplanes"></li></ul>
  </script>

  <script id="airplaneListTemplate" type="text/template">
    <p> test </p>
    <h3>{{name}}</h3>
  </script>

