<h1><a href="/liger/index#index">Liger Airlines</a></h1>

  <div id="main">
    
  </div>

  
  
  <script id="appTemplate" type="text/template">
    <h1>Liger Airplanes</h1>
    <ul><li id="airplanes"></li></ul>
  </script>

  <script id="airplaneListTemplate" type="text/template">
    <h3>{{name}}</h3>
  </script>

  <script id="airplaneTemplate" type="text/template">
    <h1></h1>
  </script>

  <script id="flightTemplate" type="text/template">
    <h3>Pick wisely. You only get one shot</h3>

    <div class="allSeats">
      <div id="A1" class="freeSeat">A1</div>
      <div id="A2" class="freeSeat">A2</div>
      <div id="B1" class="freeSeat">B1</div>
      <div id="B2" class="freeSeat">B2</div>
      <div id="C1" class="freeSeat">C1</div>
      <div id="C2" class="freeSeat">C2</div>
      <div id="D1" class="freeSeat">D1</div>
      <div id="D2" class="freeSeat">D2</div>
      <div id="E1" class="freeSeat">E1</div>
      <div id="E2" class="freeSeat">E2</div>
      <div id="F1" class="freeSeat">F1</div>
      <div id="F2" class="freeSeat">F2</div>
      <div id="G1" class="freeSeat">G1</div>
      <div id="G2" class="freeSeat">G2</div>
      <div id="H1" class="freeSeat">H1</div>
      <div id="H2" class="freeSeat">H2</div>
      <div id="I1" class="freeSeat">I1</div>
      <div id="I2" class="freeSeat">I2</div>
      <div id="J1" class="freeSeat">J1</div>
      <div id="J2" class="freeSeat">J2</div>
    </div>

    <h3></h3>
  </script>

